<div
  class="card drop-shadow-sm hover:drop-shadow-xl hover:scale-105 hover:border-gray-400 duration-300"
  data-size="sm"
>
  <header>
    <h2 class="skeleton w-full h-4"></h2>
    <p class="skeleton w-full h-4"></p>
    <div class="text-muted-foreground flex justify-between">
      <span class="skeleton w-full h-4"></span>
      <span class="skeleton w-full h-4"></span>
    </div>
  </header>
  <footer class="flex justify-end w-full gap-2">
    <button
      class="btn skeleton w-40 h-4"
      id="moreInfoBtn"
      data-variant="outline"
      data-size="sm"
      data-tooltip="More Info"
      data-side="left"
    ></button>
  </footer>
</div>
