<dialog
  id="demo-dialog-edit-profile"
  class="dialog"
  aria-labelledby="addAndEditMilestoneTitle"
  aria-describedby="addAndEditMilestoneDescription"
  onclick="
    if (event.target === this) {
      this.close();
      this.remove();
    }
  "
>
  <div class="sm:max-w-sm">
    <header>
      <h2 id="addAndEditMilestoneTitle"></h2>
      <p id="addAndEditMilestoneDescription"></p>
    </header>
    <section>
      <form class="grid gap-4">
        <div class="grid gap-3">
          <label class="label" for="milestoneInputTitle"
            >Title <span class="text-destructive">*</span></label
          >
          <input
            class="input"
            type="text"
            placeholder="Enter milestone title"
            id="milestoneInputTitle"
            autofocus
          />
        </div>
        <div class="grid gap-3">
          <label class="label" for="milestoneInputDate"
            >Target Date <span class="text-destructive">*</span></label
          >
          <input
            class="input"
            type="date"
            value="2026-08-01"
            id="milestoneInputDate"
          />
        </div>
        <div class="grid gap-3">
          <label for="startDateInput"> Description</label>
          <textarea
            id="milestoneDescriptionInput"
            class="textarea max-h-40 resize-y"
            placeholder="Write a few sentences about your milestone..."
          ></textarea>
        </div>
      </form>
    </section>
    <section id="milestoneErrorSection" class="hidden" aria-hidden="true">
      <div class="alert" data-variant="destructive">
        <svg
          class="lucide lucide-circle-alert"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10" />
          <line x1="12" x2="12" y1="8" y2="12" />
          <line x1="12" x2="12.01" y1="16" y2="16" />
        </svg>
        <h2>Error</h2>
        <p>Error message</p>
      </div>
    </section>
    <footer>
      <button
        class="btn"
        data-variant="outline"
        onclick="
          {
            this.closest('dialog').close();
            this.closest('dialog').remove();
          }
        "
      >
        Cancel
      </button>
      <button class="btn" id="saveBtn">Save changes</button>
    </footer>
    <button
      type="button"
      class="btn"
      data-variant="ghost"
      data-size="icon-sm"
      aria-label="Close dialog"
      onclick="
        {
          this.closest('dialog').close();
          this.closest('dialog').remove();
        }
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-x-icon lucide-x"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button>
  </div>
</dialog>
