<div
  class="card hover:z-50 drop-shadow-sm hover:drop-shadow-xl hover:scale-105 hover:border-gray-400 duration-300 overflow-visible [&:active:not(:has(button:active,[role='menuitem']:active))]:scale-95 select-none"
  data-size="sm"
>
  <header>
    <div class="flex justify-between">
      <h2 class="skeleton w-full h-4"></h2>
    </div>
    <p class="skeleton w-full h-4"></p>
    <span class="skeleton w-full h-4"></span>
  </header>
  <footer class="flex justify-end w-full gap-1">
    <button
      class="btn bg-green-100 dark:bg-green-950 text-green-950 dark:text-green-400 hover:bg-green-200 dark:hover:bg-green-900 skeleton w-10"
      data-tooltip="Mark as Complete"
      data-side="top"
    ></button>
    <div id="moreActionDropdown" class="dropdown-menu">
      <button
        type="button"
        id="moreActionDropdownTrigger"
        aria-haspopup="menu"
        aria-controls="moreActionDropdownMenu"
        aria-expanded="false"
        class="btn skeleton w-10"
        data-variant="ghost"
        data-tooltip="More Actions"
        data-side="top"
        data-align="end"
      ></button>
      <div
        id="moreActionDropdownPopover"
        data-popover
        aria-hidden="true"
        class="min-w-32"
        data-side="bottom"
        data-align="end"
      >
        <div
          role="menu"
          id="moreActionDropdownMenu"
          aria-labelledby="moreActionDropdownTrigger"
        >
          <div role="group" class="flex flex-col gap-1">
            <div role="menuitem" class="skeleton w-full h-6"></div>
            <div role="menuitem" class="skeleton w-full h-6"></div>
          </div>
          <hr role="separator" />
          <div role="group">
            <div
              role="menuitem"
              data-variant="destructive"
              data-size="sm"
              class="skeleton w-full h-6"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
