<div
  class="card drop-shadow-sm hover:drop-shadow-xl hover:scale-105 hover:border-gray-400 duration-300"
  data-size="sm"
>
  <header>
    <div id="reminderCardHeader" class="flex justify-between">
      <h2 class="text-xl" id="reminderTitle"></h2>
    </div>
    <p class="text-md text-muted-foreground" id="reminderDescription"></p>
    <span id="reminderStartDate" class="text-md text-muted-foreground"
      >Start : 29/08/2026</span
    >
  </header>
  <footer class="flex justify-end w-full gap-2">
    <button
      class="btn"
      id="moreInfoReminderBtn"
      data-variant="outline"
      data-size="sm"
      data-tooltip="More Info"
      data-side="top"
      data-align="start"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-external-link-icon lucide-external-link"
      >
        <path d="M15 3h6v6" />
        <path d="M10 14 21 3" />
        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
      </svg>
    </button>
    <button
      class="btn bg-green-100 dark:bg-green-950 text-green-950 dark:text-green-400 hover:bg-green-200 dark:hover:bg-green-900"
      id="markAsCompleteReminderBtn"
      data-tooltip="Mark as Complete"
      data-side="top"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-circle-check-icon lucide-circle-check"
      >
        <circle cx="12" cy="12" r="10" />
        <path d="m9 12 2 2 4-4" />
      </svg>
    </button>
    <button
      class="btn"
      data-variant="outline"
      data-size="sm"
      data-tooltip="Edit Reminder"
      data-side="top"
      id="editReminderBtn"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-pencil-icon lucide-pencil"
      >
        <path
          d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
        />
        <path d="m15 5 4 4" />
      </svg>
    </button>
    <button
      class="btn"
      id="deleteReminderBtn"
      data-variant="destructive"
      data-size="sm"
      data-tooltip="Delete Reminder"
      data-side="top"
      data-align="end"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-trash2-icon lucide-trash-2"
      >
        <path d="M10 11v6" />
        <path d="M14 11v6" />
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
        <path d="M3 6h18" />
        <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
      </svg>
    </button>
  </footer>
</div>
