<div
  class="card hover:z-50 drop-shadow-sm hover:drop-shadow-xl hover:scale-105 hover:border-gray-400 duration-300 overflow-visible"
  data-size="sm"
>
  <header>
    <div id="reminderCardHeader" class="flex justify-between">
      <h2 class="text-xl" id="reminderTitle"></h2>
    </div>
    <p class="text-md text-muted-foreground" id="reminderDescription"></p>
    <span id="reminderStartDate" class="text-md text-muted-foreground"
      >Start : 29/08/2026</span
    >
  </header>
  <footer class="flex justify-end w-full gap-1">
    <button
      class="btn bg-green-100 dark:bg-green-950 text-green-950 dark:text-green-400 hover:bg-green-200 dark:hover:bg-green-900"
      id="markAsCompleteReminderBtn"
      data-tooltip="Mark as Complete"
      data-side="top"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-circle-check-icon lucide-circle-check"
      >
        <circle cx="12" cy="12" r="10" />
        <path d="m9 12 2 2 4-4" />
      </svg>
    </button>
    <div id="moreActionDropdown" class="dropdown-menu">
      <button
        type="button"
        id="moreActionDropdownTrigger"
        aria-haspopup="menu"
        aria-controls="moreActionDropdown-menu"
        aria-expanded="false"
        class="btn"
        data-variant="ghost"
        data-tooltip="More Actions"
        data-side="top"
        data-align="end"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical"
        >
          <circle cx="12" cy="12" r="1" />
          <circle cx="12" cy="5" r="1" />
          <circle cx="12" cy="19" r="1" />
        </svg>
      </button>
      <div
        id="moreActionDropdownPopover"
        data-popover
        aria-hidden="true"
        class="min-w-32"
        data-side="bottom"
        data-align="end"
      >
        <div
          role="menu"
          id="moreActionDropdownMenu"
          aria-labelledby="moreActionDropdownTrigger"
        >
          <div role="group">
            <div role="menuitem" id="moreInfoReminderBtn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-external-link-icon lucide-external-link"
              >
                <path d="M15 3h6v6" />
                <path d="M10 14 21 3" />
                <path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                />
              </svg>
              More Info
            </div>
            <div role="menuitem" id="editReminderBtn">
              <svg
                class="lucide lucide-pencil"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M12 20h9" />
                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4Z" />
              </svg>
              Edit
            </div>
          </div>
          <hr role="separator" />
          <div role="group">
            <div
              role="menuitem"
              data-variant="destructive"
              id="deleteReminderBtn"
              data-size="sm"
            >
              <svg
                class="lucide lucide-trash"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M3 6h18" />
                <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
              </svg>
              Delete
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
