<div
  class="card p-4 drop-shadow-sm hover:drop-shadow-xl hover:scale-105 hover:border-gray-400 duration-300"
>
  <div class="flex flex-row justify-between items-center">
    <header class="w-full">
      <h2 class="text-lg py-2" id="cardTitle">Total Tasks</h2>
      <p class="text-5xl text-center font-bold" id="cardValue">5</p>
    </header>
    <i
      data-lucide="List"
      class="object-cover rounded-lg size-20 opacity-50 text-gray-500"
      id="icon"
    ></i>
  </div>
  <p class="text-md font-bold" id="cardSecondValue">Completed Tasks : 5</p>
</div>
