@import "tailwindcss";
@import "basecoat-css/vega.css";

@layer components {
  .item-selected {
    @apply bg-accent-foreground text-accent;

    span {
      @apply text-accent;
    }
  }

  .item-selected:hover {
    @apply !bg-accent-foreground !text-accent !cursor-default;
  }
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
}
