<div class="card py-4" id="taskCard">
  <header class="flex items-center gap-2">
    <i data-lucide="List" class="text-gray-500" id="taskCardIcon"></i>
    <h1 class="text-2xl font-bold" id="frequency">Daily</h1>
  </header>
  <section class="empty h-ful">
    <header>
      <figure>
        <i
          data-lucide="List"
          class="text-gray-500"
          id="taskCardMessageIcon"
        ></i>
      </figure>
      <h3 id="emptyTitle">No Daly tasks</h3>
      <p class="max-w-xs text-pretty" id="description">Create a Daly task.</p>
    </header>
    <footer>
      <button class="btn" data-variant="outline">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plus-icon lucide-plus"
        >
          <path d="M5 12h14" />
          <path d="M12 5v14" />
        </svg>
        Create Task
      </button>
    </footer>
  </section>
</div>
