<dialog
  class="dialog"
  aria-labelledby="title"
  aria-describedby="description"
  onclick="if (event.target === this) this.close();"
>
  <div class="sm:max-w-sm">
    <header>
      <h2 id="title">Task Details</h2>
    </header>
    <section>
      <h1 class="text-2xl font-bold" id="taskTitle">Task Title</h1>
      <p class="text-muted-foreground" id="taskDescription">Task Description</p>
      <div class="grid grid-cols-2 gap-2 my-4" id="taskStatusContainer"></div>
    </section>
    <footer>
      <button
        class="btn"
        data-variant="outline"
        onclick="this.closest('dialog').close()"
      >
        Cancel
      </button>
      <button class="btn" onclick="this.closest('dialog').close()">
        Save changes
      </button>
    </footer>
    <button
      type="button"
      class="btn"
      data-variant="ghost"
      data-size="icon-sm"
      aria-label="Close dialog"
      onclick="this.closest('dialog').close()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-x-icon lucide-x"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button>
  </div>
</dialog>
