<div
  class="p-6 bg-background border rounded-xl drop-shadow-xl dark:shadow-accent-foreground hover:drop-shadow-2xl hover:scale-105 hover:border-gray-400 duration-300 transition-transform cursor-pointer select-none active:scale-95"
>
  <div class="project-status flex justify-between">
    <i data-lucide="bus" id="icon" class="size-10"></i>
  </div>
  <h3 class="mt-4 text-lg font-bold project-title">Create project</h3>
  <p class="mt-1 text-sm project-desc">Deploy your new project in one-click.</p>
</div>
