<dialog
  class="dialog"
  aria-labelledby="addAndEditTaskTitle"
  aria-describedby="addAndEditTaskDescription"
>
  <div class="sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl">
    <header>
      <h2 id="addAndEditTaskTitle">Edit profile</h2>
      <p id="addAndEditTaskDescription">
        Make changes to your profile here. Click save when you're done.
      </p>
    </header>
    <section>
      <form class="grid gap-4">
        <div class="grid gap-3">
          <label class="label" for="demo-dialog-edit-profile-name">Title</label>
          <input
            class="input"
            type="text"
            value="Enter your task title"
            id="addAndEditTaskName"
            autofocus
          />
        </div>
        <div class="grid gap-3">
          <label for="frequencyTrigger"
            >Frequency <span class="text-destructive">*</span></label
          >
          <div
            id="frequencySelect"
            class="select"
            data-placeholder="Select a frequency"
          >
            <button
              type="button"
              id="frequencyTrigger"
              class="w-full"
              aria-haspopup="listbox"
              aria-expanded="false"
              aria-controls="frequencyListbox"
            >
              <span class="truncate">Select a frequency</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-down text-muted-foreground opacity-50 shrink-0"
              >
                <path d="m6 9 6 6 6-6" />
              </svg>
            </button>
            <div id="frequencyPopover" data-popover aria-hidden="true">
              <div
                role="listbox"
                id="frequencyListbox"
                aria-orientation="vertical"
                aria-labelledby="frequencyTrigger"
              >
                <div role="group" aria-labelledby="frequencyItems">
                  <span role="heading" id="frequencyItems">Frequency</span>
                  <div role="option" data-value="daily">Daily</div>
                  <div role="option" data-value="weekly">Weekly</div>
                  <div role="option" data-value="monthly">Monthly</div>
                </div>
              </div>
            </div>
            <input type="hidden" name="frequencyInput" value="" />
          </div>
        </div>
        <div class="grid gap-3 md:grid-cols-2">
          <div role="group" class="field">
            <label for="startDateInput"
              >Start Date <span class="text-destructive">*</span></label
            >
            <input id="startDateInput" type="datetime-local" required />
          </div>
          <div role="group" class="field">
            <label for="dueDateInput"
              >Due Date <span class="text-destructive">*</span></label
            >
            <input id="dueDateInput" type="datetime-local" required />
          </div>
        </div>
        <div class="grid gap-3">
          <label for="startDateInput">
            Description <span class="text-destructive">*</span>
          </label>
          <textarea
            class="textarea max-h-40 resize-y"
            placeholder="Type your message here"
          ></textarea>
        </div>
      </form>
    </section>
    <footer>
      <button class="btn" data-variant="outline" id="cancelButton">
        Cancel
      </button>
      <button class="btn" id="confirmButton">Save changes</button>
    </footer>
    <button
      type="button"
      class="btn"
      data-variant="ghost"
      data-size="icon-sm"
      aria-label="Close dialog"
      onclick="
        {
          this.closest('dialog').close();
          this.closest('dialog').remove();
        }
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-x-icon lucide-x"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button>
  </div>
</dialog>
