<div class="flex justify-center items-center size-full">
  <div class="card w-full md:w-md">
    <header>
      <h2>Title</h2>
      <p>Enter your email below to login to your account</p>
      <div class="card-action">
        <button type="button" class="btn" data-variant="link" id="signUpbtn">
          Sign Up
        </button>
      </div>
    </header>
    <section>
      <form class="grid gap-6">
        <div class="field">
          <label class="label" for="loginEmailInput">Email</label>
          <input
            class="input"
            type="email"
            id="loginEmailInput"
            placeholder="email@example.com"
            required
          />
          <p id="emailInputError" class="text-destructive hidden">
            This is an Error message.
          </p>
        </div>
        <div class="grid gap-2">
          <div class="field">
            <label class="label" for="loginPasswordInput">Password</label>
            <div class="input-group">
              <input
                id="loginPasswordInput"
                type="password"
                placeholder="Enter password"
              />
              <span role="group" data-align="end">
                <button
                  type="button"
                  class="btn btn-icon"
                  data-variant="ghost"
                  data-size="sm"
                  id="passwordVisibilityToggler"
                >
                  <div id="passwordVisibilityIcon" class="size-4"></div>
                </button>
              </span>
            </div>
            <p id="passwordInputError" class="text-destructive hidden">
              This is an Error message.
            </p>
          </div>
        </div>
      </form>
    </section>
    <footer class="flex-col gap-2">
      <button type="button" class="btn w-full" id="loginBtn">Login</button>
    </footer>
  </div>
</div>
