<dialog
  class="dialog"
  aria-labelledby="dialog-scrollable-title"
  aria-describedby="dialog-scrollable-description"
>
  <div>
    <header>
      <h2 id="addAndEditGoalTitle"></h2>
      <p id="addAndEditGoalDescription"></p>
    </header>
    <section class="-mx-4 max-h-[50vh] overflow-y-auto px-4 scrollbar">
      <section>
        <form class="grid gap-4">
          <div class="grid gap-3">
            <label class="label" for="titleInput"
              >Title <span class="text-destructive">*</span></label
            >
            <input class="input" type="text" id="titleInput" autofocus />
          </div>
          <div class="grid gap-3 md:grid-cols-2">
            <div role="group" class="field">
              <label for="startDateInput"
                >Start Date <span class="text-destructive">*</span></label
              >
              <input id="startDateInput" type="datetime-local" required />
            </div>
            <div role="group" class="field">
              <label for="endDateInput"
                >Due Date <span class="text-destructive">*</span></label
              >
              <input id="endDateInput" type="datetime-local" required />
            </div>
          </div>
          <div class="grid gap-3">
            <label for="descriptionInput"> Description </label>
            <textarea
              id="descriptionInput"
              class="textarea max-h-40 resize-y"
            ></textarea>
          </div>
        </form>
      </section>
      <div class="w-full py-6 space-y-2">
        <div class="flex justify-between">
          <h1 class="text-lg font-semibold">Milestones</h1>
          <button
            id="addMilestoneButton"
            type="button"
            class="btn"
            data-variant="outline"
            data-size="icon"
            aria-label="Submit"
            data-tooltip="Add Milestone"
            data-side="left"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-plus-icon lucide-plus"
            >
              <path d="M5 12h14" />
              <path d="M12 5v14" />
            </svg>
          </button>
        </div>
        <div class="space-y-2 py-2" id="milestoneContainer">
          <div class="card" data-size="sm" id="milestoneCard">
            <header>
              <div class="flex justify-between">
                <h2>Small Card</h2>
                <span class="text-muted-foreground text-end">2026-08-21</span>
              </div>
              <p>This card uses the small size variant.</p>
              <div class="card-action">
                <button
                  type="button"
                  class="btn"
                  data-variant="destructive"
                  id="deleteMilestoneBtn"
                  data-tooltip="Delete Milestone"
                  data-side="left"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-trash2-icon lucide-trash-2"
                  >
                    <path d="M10 11v6" />
                    <path d="M14 11v6" />
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                    <path d="M3 6h18" />
                    <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                  </svg>
                </button>
              </div>
            </header>
          </div>
        </div>
      </div>
    </section>
    <section id="goalErrorSection" class="hidden" aria-hidden="true">
      <div class="alert" data-variant="destructive">
        <svg
          class="lucide lucide-circle-alert"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10" />
          <line x1="12" x2="12" y1="8" y2="12" />
          <line x1="12" x2="12.01" y1="16" y2="16" />
        </svg>
        <h2>Error</h2>
        <p>Error message</p>
      </div>
    </section>
    <footer>
      <button class="btn" data-variant="outline" id="cancelButton">
        Cancel
      </button>
      <button class="btn" id="confirmButton">Save changes</button>
    </footer>
    <button
      type="button"
      class="btn"
      data-variant="ghost"
      data-size="icon-sm"
      aria-label="Close dialog"
      onclick="
        {
          this.closest('dialog').close();
          this.closest('dialog').remove();
        }
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-x-icon lucide-x"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button>
  </div>
</dialog>
